################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CopilotSnapshots/71F1492AADC8B24880D40625C5F12C0A
/.vs/honey-do-hero/CopilotIndices/18.6.39577.51406
/.vs
